@charset "utf-8";

html, body {
  height: 100%;
  margin: 0;
}

body.us  {
  background-image: url("/img/Slider_3.jpg");
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.container .content {
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
color: #f1f1f1;
padding: 20px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

body {
    min-height: 0rem;
    padding-top: 1.5rem;
    }

@media screen and (min-width: 600px) {
      body {    
         min-height: 55rem;
        padding-top: 4.5rem; }
        
      .content {
          padding-top: 8.5rem
        }        
}

@media screen and (max-width: 770px) {
  ul.navbar-nav {    
  text-align: center !important; }
}

.content {
          padding-top: 5rem;
          align-content: center;
          }
  
footer{
    background-color: #467f46;
    color: white;    
  }   
  
footer ul li a {
    color: white;
 }

small{
    color: black;    
 }

 #fright{
     text-align: right;     

 }

.btn-success{
  background-color: #023d83 !important;
  border-color: #023d83 !important;
  color: white !important;
}

.fa.fa-navicon {
  color:black;
}

#log{
  display: flex;
  justify-content: center;      
}

#logo{
  width: 60%;
  height: auto;
  display:block !important;
  margin:auto !important;;
  
}

.form-sec{width:400px; background:#ccc; padding:15px;width: 400px;
  background: #f8f9fa;padding: 15px;box-shadow: 0 0 4px #ccc;}

.frm_form_field .grecaptcha-badge { 
    display:none;
}

a.nav-link{
    color: black;
    -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;

}

a.nav-link:hover{
  border-bottom: 2px solid aquamarine;
  color: #023d83;
}



  
/* Change color to carousel arrows */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%) !important;
}
 #brands{
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
 }

/*  cambios en position*/
.carousel-inner > .item > img{
  margin:auto;
  }

  .carousel-indicators :not(.active)  {

    background-color:gray;
   
}
.carousel-indicators .active {
    background-color:black;
}

#top{
  top: 0;
  bottom: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #6c8e2f;
  font-weight: bold;
}

#middle{
  top: 30%;
  height: auto;
  max-height: 120px;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: white;
  font-weight: bold;
}

#title{
  top: 30%;
  height: auto;
  max-height: 120px;
  font-family: 'Mochiy Pop P One', sans-serif;
  background-color: white;
  opacity: 0.7;  
  font-weight: bold;
  color: black;
}

#left{
  top: 30%;
  height: auto;
  max-height: 120px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-weight: bold;
  color: white;
  left: 45%;
}

/*animation*/

.caption-animate .item.active .carousel-caption {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.caption-animate  .item.active .carousel-caption.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.caption-animate  .item.active .carousel-caption.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.caption-animate .item.active .carousel-caption.flipOutX,
.caption-animate .item.active .carousel-caption.flipOutY,
.caption-animate .item.active .carousel-caption.bounceIn,
.caption-animate .item.active .carousel-caption.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
.caption-animate .item .carousel-caption.fadeIn,
.caption-animate .item .carousel-caption.fadeInDown,
.caption-animate .item .carousel-caption.fadeInDownBig,
.caption-animate .item .carousel-caption.fadeInLeft,
.caption-animate .item .carousel-caption.fadeInLeftBig,
.caption-animate .item .carousel-caption.fadeInRight,
.caption-animate .item .carousel-caption.fadeInRightBig,
.caption-animate .item .carousel-caption.fadeInUp,
.caption-animate .item .carousel-caption.fadeInUpBig{
  opacity:0;
}

.carousel-caption h3:first-child {
  animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}



.carousel-caption h1:first-child {
  animation-delay: 1s;
}

.carousel-caption h1:nth-child(2) {
  animation-delay: 2s;
}

.carousel-caption h2:first-child {
  animation-delay: 1s;
}

.carousel-caption h2:nth-child(2) {
  animation-delay: 2s;
}

.carousel-caption button {
  animation-delay: 3s;
}

/*Changing size of letter according to screen size*/

#para_head {
  background-color: red;
  font-size:10pt;
}

@media screen and (min-width: 800px) {
    #para_head {
       font-size: 30px;
       background-color: blue;
    }
}

.h3-responsive{
  font-size:2vw;
}

.h1-responsive{
  font-size:3vw;
}

.h2-responsive{
  font-size:2.5vw;
}

.three-dots {
  text-align: center;
}

.three-dots span {
width: 10px;
height: 10px;
border-radius: 50%;
background: #6c8e2f;
display: inline-block;
margin: 0 5px;
}

.justify_text {
text-align: justify;
width: 90%;
padding-left: 10%;
}


/*Card animation*/
.maincontainer
{
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left; /* stack each div horizontally */
}

img
{
   border-radius: 10px;
}

.back h2
{
    position: absolute;
}

.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h2
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: white;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer > .front
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width: 302px;
    height: 290px;
    
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back
{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.maincontainer > .beach
{
    background: #cf5f03;
}


.maincontainer > .forest
{
    background: hsl(115, 88%, 16%);
}


.maincontainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}

/*Staff*/
.employees{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card2 {
  width: 350px;
  background-color: rgba(245, 243, 243, 0.5);
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 15px;
  margin-top: 5px;
}

.image2{
  padding-top: 10px;
}

.image2 img {
  transition: all 0.5s
}

.card2:hover .image2 img {
  transform: scale(1.2)
}

.btn2 {
  height: 140px;
  width: 140px;
  border-radius: 50%
}

.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold
}

.date {
  background-color: rgb(75, 46, 180);
  margin-bottom: 15px;
}


.marketing > h2{ text-align: center;}


/*Tab setting*/

.container_tab > h1 { font-size: 32px; }
.container_tab > h2 { font-size: 26px; }
.container_tab > h3 { font-size: 18px; }
.container_tab > p { margin: 0 0 15px; line-height: 24px; color: gainsboro; }
.container_tab > a { color: dodgerblue; text-decoration: none; border-bottom: 1px dotted; }
.container_tab > a:hover { color: tomato; }

.container_tab { 
	max-width: 960px; 
	height: 100%;
	margin: 0 auto; 
	padding: 20px;
  padding-top: 6 rem !important;
}

/* ------------------- */
/* PEN STYLES      -- */
/* ----------------- */

/* MAKE IT CUTE ----- */
.tabs {
	position: relative;
	display: flex;
	min-height: 400px;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.tabby-tab {
	flex: 1;
}

.tabby-tab label {
	display: block;
	box-sizing: border-box;
	/* tab content must clear this */
		height: 40px;
	
	padding: 10px;
	text-align: center;
	background: #9768D1;
	cursor: pointer;
	transition: background 0.5s ease;
	
}

.tabby-tab label:hover {
	background: #7B52AB;
}

.tabby-content {
	position: absolute;
	
	left: 0; bottom: 0; right: 0;
	/* clear the tab labels */
		top: 40px; 
	
	padding: 20px;
	border-radius: 0 0 8px 8px;
	/*background: #553285;*/
	
	transition: 
		opacity 0.8s ease,
		transform 0.8s ease		;
	
	/* show/hide */
		opacity: 0;
		transform: scale(0.1);
		transform-origin: top left;
	
}

.tabby-content img {
	float: left;
	margin-right: 20px;
	border-radius: 8px;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
	background: #553285;
	z-index: 2;
  color: white;
}

input.beach[type=radio]:checked ~ label {
	background: #cf5f03;
}

input.history[type=radio]:checked ~ label {
	background: #262626;
}

input.forest[type=radio]:checked ~ label {
	background: hsl(115, 88%, 16%);;
}


[type=radio]:checked ~ label ~ .tabby-content {
	z-index: 1;
	
	/* show/hide */
		opacity: 1;
		transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
	.tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
	.tabs { 
    min-height: 580px; 
    overflow: auto;
  }
	.tabby-tab label { 
		height: 46px;
	}
	.tabby-content { /*top: 60px; */}
	.tabby-content img {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}

  .fixed-bottom{
    position: relative !important;
  }



}